@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;
}


body {
  font-family: 'Muli', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background-color: #2218a236;
  background: linear-gradient(to right, #b696ed, #fd3eaa);
}
.Desinger {
  text-align: center;
  font-family: monospace;
  margin-bottom: auto;
  color: #000080;
  border-style: solid;
  border-radius: 15px;
  border-color: #00008057;
  width: 350px;
  background: snow;
  height: 55px;
}




.container {
  display: flex;
  width: 90vw;
}


.panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  -webkit-transition: all 700ms ease-in;
}

.panel h3 {
  font-size: 24px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

.panel.active {
  flex: 5;
}

.panel.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

@media (max-width: 480px) {
  .container {
    width: 100vw;
  }

  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
  
  
}
footer {
  background-color: #7131fd;
  background: linear-gradient(to right, #7026f0, #3ee7fd);
  color: #fff;
  font-size: 12px;
  bottom: -8px;
  position: fixed;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 999;
  font-family: math;
}
footer p {
  margin: 10px 0;
}

footer i {
  color: red;
}

footer a {
  color: #3c97bf;
  text-decoration: none;
}